

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/">
     
     <img src= "https://s3.amazonaws.com/marnaspals-dpal/logo2.png">
    
    </a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li> 
      <li><%= link_to "Scholars", scholars_path %></li>
      <li><%= link_to "Events", events_path %></li> 
      <!-- <li><%= link_to "Resources", resources_path %></li> -->
      <li><%= link_to "Apply Here", applyhere_path %></li>
      
    </ul> 
    <a href="/donate" class="pull-right"> <img src= "https://s3.amazonaws.com/marnaspals-dpal/makeadonation7.jpg"> </a>
  </div><!-- /.navbar-collapse -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-17334797-2', 'auto');
  ga('send', 'pageview');

</script>

</nav>

<br></br>


